  <aside class="col-md-4 col-sm-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <span>
          Following：
          <a href="<%= followings_user_path(@user) %>">
             <%= @user.following_relationships.count %>
          </a>
        </span>
        <span>
          Follower：
          <a href="<%= followers_user_path(@user) %>">
            <%= @user.follower_relationships.count %>
          </a>
        </span>
    </section>
  </aside>